/* at first we have to write the margin and padding 0.
As the website can not give any margin or padding by default. */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.hero {
  background-image: url("../images/cow.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 82%, 47% 100%, 46% 100%, 0 77%);

  /* if we want to take the entire screen we have to write 100vh. 100 vh covers the whole screen as height */
}

.hero h1 {
  color: azure;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  padding-top: 60px;
  font-family: cursive;
  word-spacing: 40px;
}

.article,
#cow-type {
  width: 80%;
  margin: 60px auto;
  background-color: aqua;
  border: 15px yellow solid;
  padding: 60px;
  background: linear-gradient(pink, rgb(85, 110, 177));
}

.article h2,
#cow-type h2 {
  text-align: center;
  font-size: 48px;
  padding-bottom: 30px;
}

.article p {
  font-size: 28px;
}

.article p .imp {
  /* em means it will be double of your parent size. */

  font-size: 2em;
  background-color: yellow;
  /* line height 2em means take double line space than it text size */
  display: inline-block;
  line-height: 2em;
  width: 600px;
}

.cow-images {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.cow-images div {
  width: 300px;
}
.cow-images img {
  width: 100%;
}
